body {
  background: url(../../images/titanic_bg_jamasca66.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

#page-header {
  background-color: rgba(0,0,0,0.8);
}

button {
  margin: 10px auto;
  width: 170px;
}

#infographic-canvas {
  margin-top: 10px;
}

.info-box-content {
  margin: 0px auto;
  width: 400px;
  height: 460px;
  background-color: rgba(0,0,0,0.5);
  border: 30px;
  border-color: rgba(0,0,0,1);
  border-radius: 5px;
}

.color-survived {
  color: green;
}

.color-perished {
  color: red;
}

footer {
  text-align: right;
}

#cc-link {
  color: white;
}
